.Student{
  display: block;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 10px;
}
.left{
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;

}
.right{
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
h2.stuName {
  padding: 0px;
  margin: 0px;
}
p.uniName{
  padding: 0px;
  margin: 0px;
}

.score{
  font-weight: bold;
  color: green;
  font-size: 30px;
}

.ScoreBtn{
  font-size: 15px;
  border-radius: 100px;
  line-height: 16px;
  position: relative;
  top:-3px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  width: 20px;
  height: 20px;
  margin-left: 7px;  
}
.ScoreBtn:hover{
  background-color: green;
}
.result{
  
  color: white;
  padding: 1px 4px;
  margin: 0;
  line-height: 7px;
  border-radius: 7px;
  margin-left: 5px;
  font-size: 14px;
}
.pass{
  background-color: green;
}
.fail{
  background-color: red;
}
